body {
  background-color: #F8F7FC;
  font-family: 'Fauna One', serif;
  line-height: 18pt;  
}

h1,h2,h3,h4,h5,h5 {
  font-family: 'Josefin Slab', serif;
}

.my-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.my-container {
  padding: 0px 10%;
  text-align: center;
}

.title {
  padding-top: 5px;
  background-color: black;
}

.my-title {
  text-align: left;
}

.type-font {
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
}

.my-image {
  border: 2px black solid;
  margin-bottom: 20px;
}

.oscurecer {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    );
}
.gradiente {
  background-image: linear-gradient(
    rgba(25, 209, 231, 0.5),
    rgba(243, 17, 224, 0.5)
  )
}

/*My img*/
.my-img-border{
  position: relative;
  width: 420px;
  border: 2px black solid;
  margin-top: 40px;
}

.my-img-border .my-img {
  width: 420px;
  margin: 10px -10px -10px 10px;
  border: 2px black solid;
}

.my-img-border .my-img img {
  width: 100%;
}


/* My card */
.tab {
  margin-left: 30px;
}
.my-card-border {
  position: relative;
  width: 420px;
  height: -10px ;
  border: 2px black solid;
  margin: 20px;
}

.my-card {
  width: 420px;
  margin: 10px -10px -10px 10px;
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 2px black solid;

  transition: margin 250ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.my-card-image img{ 
  width: 100%;
}

.my-card-content{
  position: absolute;
  text-align: center;
  top: 100%;
  width: 100%;
  height: 100%;
  padding: 30px;
  background-color: white;

  transition: top 250ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.my-card:hover .my-card-content {
  top: 0%;
}

.my-card-title {
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
  font-size: 35px;
  color: black;
  padding-top: 4px;
  margin: auto;
}

.my-card-text {
  line-height: 18pt;
}

a{
  font-weight: 400;
  border-bottom: 1px black solid;
  color: black;
}


/* My social*/
.social {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 0px 10px;
  border: 2px black solid;
}

.social-center{
  position: fixed;
  bottom: 20px;
  right: 0px;
  left: 0px;
  margin: auto;
  background-color: black;

}
.social-center a {
  color: white;
}

.social-fixed {
  position: fixed;
  bottom: 20px;
  right: 10px;
  left: auto;
  color: black;
  background-color: white;
}

.social div {
  margin: 10px;
}

.modal-content {
  text-align: center;
}

/* My footer */
.my-footer {
  padding: 30px 30px 80px 30px; 
  text-align: center;
  background-color: black;
  color: white;
}